/* Imposta il layout */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #8E44AD;
    overflow: hidden;
  }
  
  #gameArea {
    position: relative;
    width: 300px;
    height: 500px;
    background: #17B978;
    border: 2px solid #FFD700;
    overflow: hidden;
  }
  
  #car {
    position: absolute;
    bottom: 20px;
    left: 130px;
    width: 40px;
    height: 70px;
    border-radius: 5px;
  }
  
  .obstacle1 {
    position: absolute;
    top: -70px;
    left: 130px;
    width: 40px;
    height: 70px;
    border-radius: 5px;
  }
  
  .obstacle2 {
    position: absolute;
    top: -70px;
    left: 130px;
    width: 40px;
    height: 70px;
    border-radius: 5px;
  }
  
  .car-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .obstacle-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }